<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Simple Publishing</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    {{outlet navbar}}
  </div>
</div>

<div class="sidebar">
  {{outlet sidebar}}
</div>
<div class="main">
  {{outlet main}}
</div>

